In [20]:
import numpy as np
import pandas as pd

In [21]:
courses = pd.read_csv('course.csv', encoding='latin1')

In [22]:
courses.head()

,Unnamed: 0,Title,Short Intro,Category,Sub-Category,Course Type,Language,Subtitle Languages,Skills,Instructors,...,Course Short Intro,Weekly study,Premium course,What's include,Rank,Created by,Program,Number of ratings,Price,COURSE CATEGORIES
0,0,Machine Learning Specialization,#BreakIntoAI with Machine Learning Specializat...,Data Science,Machine Learning,Specialization,English,Subtitles: English,"Decision Trees, Artificial Neural Network, Log...","Andrew Ng ,Eddy Shyu ,Aarti Bagul ,Geoff Ladwig ,",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Introduction to Data Science Specialization,Launch your career in data science. Gain found...,Data Science,Data Analysis,Specialization,English,"Subtitles: English, Arabic, French, Portuguese...","Data Science, Relational Database Management S...","Rav Ahuja ,Alex Aklson ,Aije Egwaikhide ,Svetl...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Data Science Fundamentals with Python and SQL ...,Build the Foundation for your Data Science car...,Data Science,Data Analysis,Specialization,English,"Subtitles: English, Arabic, French, Portuguese...","Data Science, Github, Python Programming, Jupy...","Aije Egwaikhide ,Svetlana Levitan ,Romeo Kienz...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Key Technologies for Business Specialization,Get Ahead with Key Business Technologies. Gain...,Business,Business Essentials,Specialization,English,"Subtitles: English, Arabic, French, Portuguese...","Data Science, Artificial Intelligence (AI), Bu...","Rav Ahuja ,Alex Aklson ,",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Deep Learning Specialization,Become a Machine Learning expert. Master the f...,Data Science,Machine Learning,Specialization,English,"Subtitles: English, Chinese (Traditional), Ara...","Artificial Neural Network, Convolutional Neura...","Andrew Ng ,Kian Katanforoosh ,Younes Bensouda ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
courses = courses[['Category','Sub-Category','Skills']]

In [24]:
courses.head()

,Category,Sub-Category,Skills
0,Data Science,Machine Learning,"Decision Trees, Artificial Neural Network, Log..."
1,Data Science,Data Analysis,"Data Science, Relational Database Management S..."
2,Data Science,Data Analysis,"Data Science, Github, Python Programming, Jupy..."
3,Business,Business Essentials,"Data Science, Artificial Intelligence (AI), Bu..."
4,Data Science,Machine Learning,"Artificial Neural Network, Convolutional Neura..."

In [25]:
courses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8084 entries, 0 to 8083
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Category      2811 non-null   object
 1   Sub-Category  2811 non-null   object
 2   Skills        2912 non-null   object
dtypes: object(3)
memory usage: 189.6+ KB

In [26]:
courses.isnull().sum()

Category        5273
Sub-Category    5273
Skills          5172
dtype: int64

In [27]:
courses.dropna(inplace=True)

In [28]:
courses.head()

,Category,Sub-Category,Skills
0,Data Science,Machine Learning,"Decision Trees, Artificial Neural Network, Log..."
1,Data Science,Data Analysis,"Data Science, Relational Database Management S..."
2,Data Science,Data Analysis,"Data Science, Github, Python Programming, Jupy..."
3,Business,Business Essentials,"Data Science, Artificial Intelligence (AI), Bu..."
4,Data Science,Machine Learning,"Artificial Neural Network, Convolutional Neura..."

In [29]:
courses.shape

(2811, 3)

In [30]:
skills_split = courses['Skills'].str.split(',', expand=True)

In [31]:
skills_split.dropna(axis=1, how='any', inplace=True)

In [32]:
skills_split.shape

(2811, 3)

In [33]:
for i in range(skills_split.shape[1]):
    skills_split.rename(columns={i: f"skill{i+1}"}, inplace=True)

In [34]:
courses = pd.concat([courses, skills_split], axis=1)

In [35]:
courses.head()

,Category,Sub-Category,Skills,skill1,skill2,skill3
0,Data Science,Machine Learning,"Decision Trees, Artificial Neural Network, Log...",Decision Trees,Artificial Neural Network,Logistic Regression
1,Data Science,Data Analysis,"Data Science, Relational Database Management S...",Data Science,Relational Database Management System (RDBMS),Cloud Databases
2,Data Science,Data Analysis,"Data Science, Github, Python Programming, Jupy...",Data Science,Github,Python Programming
3,Business,Business Essentials,"Data Science, Artificial Intelligence (AI), Bu...",Data Science,Artificial Intelligence (AI),Business
4,Data Science,Machine Learning,"Artificial Neural Network, Convolutional Neura...",Artificial Neural Network,Convolutional Neural Network,Tensorflow

In [36]:
courses.drop_duplicates(inplace=True)

In [37]:
courses.head()

,Category,Sub-Category,Skills,skill1,skill2,skill3
0,Data Science,Machine Learning,"Decision Trees, Artificial Neural Network, Log...",Decision Trees,Artificial Neural Network,Logistic Regression
1,Data Science,Data Analysis,"Data Science, Relational Database Management S...",Data Science,Relational Database Management System (RDBMS),Cloud Databases
2,Data Science,Data Analysis,"Data Science, Github, Python Programming, Jupy...",Data Science,Github,Python Programming
3,Business,Business Essentials,"Data Science, Artificial Intelligence (AI), Bu...",Data Science,Artificial Intelligence (AI),Business
4,Data Science,Machine Learning,"Artificial Neural Network, Convolutional Neura...",Artificial Neural Network,Convolutional Neural Network,Tensorflow

In [38]:
courses.shape

(1724, 6)

In [40]:
courses['combined_skills'] = courses.apply(lambda row: [row['skill1'], row['skill2'], row['skill3']], axis=1)

In [42]:
courses.head()

,Category,Sub-Category,Skills,skill1,skill2,skill3,combined_skills
0,Data Science,Machine Learning,"Decision Trees, Artificial Neural Network, Log...",Decision Trees,Artificial Neural Network,Logistic Regression,"[Decision Trees, Artificial Neural Network, ..."
1,Data Science,Data Analysis,"Data Science, Relational Database Management S...",Data Science,Relational Database Management System (RDBMS),Cloud Databases,"[Data Science, Relational Database Management..."
2,Data Science,Data Analysis,"Data Science, Github, Python Programming, Jupy...",Data Science,Github,Python Programming,"[Data Science, Github, Python Programming]"
3,Business,Business Essentials,"Data Science, Artificial Intelligence (AI), Bu...",Data Science,Artificial Intelligence (AI),Business,"[Data Science, Artificial Intelligence (AI), ..."
4,Data Science,Machine Learning,"Artificial Neural Network, Convolutional Neura...",Artificial Neural Network,Convolutional Neural Network,Tensorflow,"[Artificial Neural Network, Convolutional Neu..."

In [43]:
first_row_iloc = courses.iloc[0]

print("First Row using iloc:")
print(first_row_iloc)

First Row using iloc:
Category                                                Data Science
Sub-Category                                        Machine Learning
Skills             Decision Trees, Artificial Neural Network, Log...
skill1                                                Decision Trees
skill2                                     Artificial Neural Network
skill3                                           Logistic Regression
combined_skills    [Decision Trees,  Artificial Neural Network,  ...
Name: 0, dtype: object

In [44]:
courses.iloc[0]

Category                                                Data Science
Sub-Category                                        Machine Learning
Skills             Decision Trees, Artificial Neural Network, Log...
skill1                                                Decision Trees
skill2                                     Artificial Neural Network
skill3                                           Logistic Regression
combined_skills    [Decision Trees,  Artificial Neural Network,  ...
Name: 0, dtype: object

In [47]:
courses.loc[0, 'Skills']

'Decision Trees, Artificial Neural Network, Logistic Regression, Recommender Systems, Linear Regression, Regularization to Avoid Overfitting, Gradient Descent, Supervised Learning, Logistic Regression for Classification, Xgboost, Tensorflow, Tree Ensembles, '

In [49]:
courses.head()

,Category,Sub-Category,Skills,skill1,skill2,skill3,combined_skills
0,Data Science,Machine Learning,"Decision Trees, Artificial Neural Network, Log...",Decision Trees,Artificial Neural Network,Logistic Regression,"[Decision Trees, Artificial Neural Network, ..."
1,Data Science,Data Analysis,"Data Science, Relational Database Management S...",Data Science,Relational Database Management System (RDBMS),Cloud Databases,"[Data Science, Relational Database Management..."
2,Data Science,Data Analysis,"Data Science, Github, Python Programming, Jupy...",Data Science,Github,Python Programming,"[Data Science, Github, Python Programming]"
3,Business,Business Essentials,"Data Science, Artificial Intelligence (AI), Bu...",Data Science,Artificial Intelligence (AI),Business,"[Data Science, Artificial Intelligence (AI), ..."
4,Data Science,Machine Learning,"Artificial Neural Network, Convolutional Neura...",Artificial Neural Network,Convolutional Neural Network,Tensorflow,"[Artificial Neural Network, Convolutional Neu..."

In [50]:
# Allow the person to input their top 3 skills
top_skills = []
for i in range(3):
    skill = input(f"Enter skill {i+1}: ")
    top_skills.append(skill)

print("Top skills entered by the person:", top_skills)

Enter skill 1:  h
Enter skill 2:  h
Enter skill 3:  h

Top skills entered by the person: ['h', 'h', 'h']

In [88]:
# User's input of top skills (example)
top_skills = []
for i in range(3):
    skill = input(f"Enter skill {i+1}: ")
    top_skills.append(skill)

print("Top skills entered by the person:", top_skills)
user_skills_str = ', '.join(top_skills)

# Add the user's skills to the DataFrame
courses.loc[-1] = ['User', 'User', user_skills_str, top_skills[0], top_skills[1], top_skills[2], user_skills_str]

# # Use CountVectorizer to convert text into a matrix of token counts
count_vectorizer = CountVectorizer()
# count_matrix = count_vectorizer.fit_transform(courses['combined_skills'])

# # Compute cosine similarity matrix
cosine_sim = cosine_similarity(count_matrix, count_matrix)

# # Get the index of the user row
user_index = courses[courses['Category'] == 'User'].index[0]

# # Get cosine similarity values for the user row
similarity_scores = list(enumerate(cosine_sim[user_index]))

# # Sort the similarity scores
similarity_scores = sorted(similarity_scores, key=lambda x: x[1], reverse=True)

# # Get the top 5 similar courses (excluding the user)
similar_courses = similarity_scores[1:6]

# # Get the indices of the top 5 similar courses
similar_course_indices = [x[0] for x in similar_courses]

# # Get the corresponding category and subcategory
recommended_courses = courses.iloc[similar_course_indices].reset_index(drop=True)
recommended_categories = recommended_courses['Category']
recommended_subcategories = recommended_courses['Sub-Category']
# # Print the recommendations
print("Recommended Categories:")
print(recommended_categories)
print("\nRecommended Subcategories:")
print(recommended_subcategories)
# top_similar_course = similarity_scores[1]

# # Get the index of the top similar course
# top_similar_course_index = top_similar_course[0]

# # Use iloc to access the top similar course row
# recommended_course = courses.iloc[top_similar_course_index]

# # Get the category and subcategory of the recommended course
# recommended_category = recommended_course['Category']
# recommended_subcategory = recommended_course['Sub-Category']

# # Print the recommendation
# print("Recommended Category:", recommended_category)
# print("Recommended Subcategory:", recommended_subcategory)

Enter skill 1:  Business
Enter skill 2:  Artificial Intelligence (AI)
Enter skill 3:  Data Science

Top skills entered by the person: ['Business', 'Artificial Intelligence (AI)', 'Data Science']
Recommended Categories:
0              Data Science
1    Information Technology
2              Data Science
3              Data Science
4              Data Science
Name: Category, dtype: object

Recommended Subcategories:
0             Data Analysis
1    Support and Operations
2          Machine Learning
3             Data Analysis
4             Data Analysis
Name: Sub-Category, dtype: object

In [55]:
pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.4.2-cp311-cp311-macosx_12_0_arm64.whl.metadata (11 kB)
Requirement already satisfied: numpy>=1.19.5 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from scikit-learn) (1.24.3)
Collecting scipy>=1.6.0 (from scikit-learn)
  Downloading scipy-1.13.0-cp311-cp311-macosx_12_0_arm64.whl.metadata (60 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 60.6/60.6 kB 304.5 kB/s eta 0:00:00a 0:00:01
Collecting joblib>=1.2.0 (from scikit-learn)
  Downloading joblib-1.4.0-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=2.0.0 (from scikit-learn)
  Downloading threadpoolctl-3.4.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.4.2-cp311-cp311-macosx_12_0_arm64.whl (10.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.5/10.5 MB 3.8 MB/s eta 0:00:0000:0100:01
Downloading joblib-1.4.0-py3-none-any.whl (301 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 301.2/301.2 kB 3.4 MB/s eta 0:00:00a 0:00:01
Downloading scipy-1.13.0-cp311-cp311-macosx_12_0_arm64.whl (30.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 30.3/30.3 MB 4.5 MB/s eta 0:00:0000:0100:01
Downloading threadpoolctl-3.4.0-py3-none-any.whl (17 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.4.0 scikit-learn-1.4.2 scipy-1.13.0 threadpoolctl-3.4.0
Note: you may need to restart the kernel to use updated packages.

In [59]:
courses['combined_skills'] = courses['combined_skills'].apply(lambda x: ', '.join(x))

In [60]:
courses.head()

,Category,Sub-Category,Skills,skill1,skill2,skill3,combined_skills
0,Data Science,Machine Learning,"Decision Trees, Artificial Neural Network, Log...",Decision Trees,Artificial Neural Network,Logistic Regression,"Decision Trees, Artificial Neural Network, L..."
1,Data Science,Data Analysis,"Data Science, Relational Database Management S...",Data Science,Relational Database Management System (RDBMS),Cloud Databases,"Data Science, Relational Database Management ..."
2,Data Science,Data Analysis,"Data Science, Github, Python Programming, Jupy...",Data Science,Github,Python Programming,"Data Science, Github, Python Programming"
3,Business,Business Essentials,"Data Science, Artificial Intelligence (AI), Bu...",Data Science,Artificial Intelligence (AI),Business,"Data Science, Artificial Intelligence (AI), ..."
4,Data Science,Machine Learning,"Artificial Neural Network, Convolutional Neura...",Artificial Neural Network,Convolutional Neural Network,Tensorflow,"Artificial Neural Network, Convolutional Neur..."